$bg-color-blue: #114c7f;

.section-contact {
  background-color: #472f51;
  .title {
    margin: 0 auto;
    max-width: 375px;
    background-color: $bg-color-blue;
    padding: 15px;
    margin-top: -11px;
    font-weight: 700;
    h3 {
      text-align: center;
      font-size: 16px;
      color: white;
      margin: 0;
    }
  }
  .info-box {
    padding: 116px 0 0px;
    text-align: center;
    color: white;
    p {
      font-size: 21px;
      font-weight: 300;
    }
  }
  .form-box {
    padding-top: 40px;
    padding-bottom: 200px;
    .name-input {
      border: 2px solid #62dafc;
      border-radius: 0px;
      background-color: transparent;
      font-size: 16px;
      font-weight: 700;
      padding: 25px;
      color: #62dafc;
    }
    .email-input {
      border: 2px solid #bd4573;
      border-radius: 0px;
      background-color: transparent;
      font-size: 16px;
      font-weight: 700;
      padding: 25px;
      color: #bd4573;
    }
    button {
      background-color: #bd4573;
      border-color: #bd4573;
      border-radius: 0px;
      width: 220px;
      font-size: 16px;
      padding: 12px;
    }
  }
}
