@media only screen and (min-width: 992px) {
  .section-contact {
    .title {
      margin-top: -11px !important;
      max-width: 375px !important;
    }
    .info-box {
      padding: 116px 0 0 !important;
    }
    .form-box {
      padding-bottom: 200px !important;
    }
  }
}