@import "../../color.scss";

.section-footer {
  background-color: $bg-color-gray;
  padding-bottom: 40px;
  .info-box {
    padding-top: 25px;
    .info-box--name {
      margin-top: 30px;
      hr {
        margin-bottom: -15px;
        min-width: 240px;
      }
      p:first-of-type {
        font-weight: 700;
        font-size: 21px;
        margin: 0;
      }
      p {
        font-size: 17px;
        font-weight: 300;
      }
    }
    .info-box--contact {
      margin-top: 30px;

      p:first-of-type {
        margin: 0;
        font-size: 17px;
        span:first-of-type {
          font-weight: 700;
          font-size: 18px;
        }
        span {
          a {
            text-decoration: none;
          }
        }
      }
      p {
        font-size: 17px;
        span:nth-last-of-type(1) {
          font-weight: 700;
          font-size: 18px;
        }
        span {
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}
