@import "../../color.scss";

@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.section-about-me {
  background-repeat: no-repeat;
  background-position: center;
  background-color: $bg-color-light-blue;
  .title-box {
    margin: 0 auto;
    max-width: 218px;
    font-size: 16px;
    h6 {
      font-size: 16px;
      font-weight: 700;
      background-color: $bg-color-blue;
      text-align: center;
      padding: 15px;
      margin-top: -37px;
    }
  }
  .background-image-media {
    display: block;
    text-align: center;
    img {
      max-width: 400px;
      width: 100%;
      margin-top: -110px;
    }
  }
  nav {
    height: 170px;
  }
  .nav-bar {
    .navbar-toggler:hover {
      border-color: $bg-color-pink !important;
      .navbar-toggler-icon {
        border-color: $bg-color-pink !important;
      }
    }
    .navbar-toggler {
      border: none;
      margin: 20px;
    }
    .navbar-toggler:focus {
      outline: 0;
    }
    .collapse {
      @include media-breakpoint-down(md) {
        width: 100%;
        background-color: rgba($color: white, $alpha: 0.5);
        transition: background-color 0.5s ease-out;
      }
      ul {
        li {
          .nav-link {
            color: $bg-color-blue !important;
            font-size: 16px !important;
            font-weight: 700 !important;
            -webkit-transition: color 0.5s ease-out;
            -moz-transition: color 0.5s ease-out;
            -o-transition: color 0.5s ease-out;
            transition: color 0.5s ease-out;
          }
          .nav-link:hover {
            color: $bg-color-pink !important;
          }
          .nav-link:focus {
            outline: 0;
          }
        }
      }
    }
  }
  .left-box {
    padding: 0;
    background-color: $bg-color-blue;
    .inside-text {
      font-size: 21px;
      padding: 10px 20px 27px 20px;
      @include media-breakpoint-down(md) {
        padding: 15px 15px 15px 15px;
      }
      line-height: 27px;
      .inside-text--box {
        padding: 20px 50px 36px 35px;
        border: 1px solid white;
        h3 {
          font-size: 29px;
          margin: 0;
        }
        p {
          padding-bottom: 15px;
        }
        ul {
          font-weight: 300;
          font-family: "Roboto Slab", serif;
          list-style-type: none;
          line-height: 27px;
        }
      }
      .js-mini {
        background-image: url("../../gfx/JavaScript-logo.png");
        background-size: contain;
        height: 50px;
        width: 50px;
        @include media-breakpoint-down(md) {
          margin: 0 auto;
          margin-top: -25px;
          margin-bottom: 15px;
        }
      }
    }
    .title-box {
      max-width: 220px;
      margin: 0 auto;
      .title {
        background-color: $bg-color-pink;
        text-align: center;
        padding: 15px;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
  .js {
    background-image: url("../../gfx/JavaScript-logo.png");
    background-size: contain;
    height: 110px;
    width: 110px;
    margin: 0 -76px -38px;
  }
  .right-box {
    background-color: $bg-color-pink;
    padding: 15px 15px 15px 15px;
    @include media-breakpoint-down(md) {
      padding: 15px 15px 15px 15px;
    }
    @include media-breakpoint-up(lg) {
      margin-top: -130px !important;
    }
    @include media-breakpoint-up(xl) {
      margin-top: -80px !important;
    }
    .right-box--main {
      border: 1px solid white;
      .react-logo {
        margin-top: -215px;
        margin-left: 135px;
        width: 450px;
        height: 450px;
        .App-logo {
          animation: App-logo-spin infinite 20s linear;
          height: 100%;
        }
        .react-logo-mini {
          .App-logo-mini {
            animation: App-logo-spin infinite 20s linear;
          }
        }
      }
      .inside-text {
        h3 {
          font-size: 29px;
        }
        p {
          font-size: 21px;
        }
      }
    }
  }
}

// animation react logo

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-center {
  -webkit-animation: rotate-center 20s linear infinite both;
  animation: rotate-center 20s linear infinite both;
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
