$bg-color-blue: #114c7f;
$bg-color-light-blue: #c0d3df;
$bg-color-blue-light: #62dafc;
$bg-color-pink: #bd3c8a;
$bg-color-gray: #2e2f32;
$bg-color-purple-light: #70365f;
$bg-color-purple-dark: #472f51;

//section skills - color

$bg-react : #61dafb;
$bg-js: #d6ba32;
$bg-redux: #764abc;
$bg-html5: #e44d26;
$bg-css3: #0170ba;
$bg-ps: #001d26;