@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  p {
    font-family: "Roboto Slab", serif;
    font-weight: 300;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto Slab", serif;
    font-weight: 700;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.container {
  @media (min-width: 1300px) {
    max-width: 1200px;
  }
}

hr {
  border-top: 1px solid rgba(255, 255, 255, 0.9);
}

button {
  padding: 0;
  border: none;
  background: none;
}