// >>>>>>>>>>> global <<<<<<<<<<
hr {
  border-top: 1px solid rgba(255,255,255,.9);
}


// >>>>>>>>>>> global end <<<<<<<<<<


// >>>>>>>>>>> header <<<<<<<<<<
.image-lukasz {
  background-image: url("./gfx/lukasz.png");
  height: 857px;
  background-repeat: no-repeat;
  background-color: #c0d3df;
  background-position: center;
}

.left-box {
  background-color: #114c7f;
  color: white;
  border-color: #f2da64;
  outline: 2px solid #fff;
  outline-offset: -20px;
}

.inside-text {
  padding: 30px;
}

.row .left-box .title-box {
  max-width: 250px;
  margin: 0 auto;
}

.left-box .title-box .title {
  background-color: #BD3C8A;
  text-align: center;
  // max-width: 250px;
  padding: 20px;
  margin-top: -30px;
}

.js {
  background-color: #f2da64;
  color: #2E2F32;
  font-size: 40px;
  height: 70px;
  width: 70px;
  margin: -35px;
}
.js-logo-box{
}

.right-box {
  background-color: #BD3C8A;
  height: 200px;
  outline: 2px solid #fff;
  outline-offset: -20px;
}

// >>>>>>>>>>> header end <<<<<<<<<<

// >>>>>>>>>>> nav <<<<<<<<<<
nav {
  height: 200px;
}


// >>>>>>>>>>> nav end <<<<<<<<<<