// >>>>>>>>>>> global <<<<<<<<<<
hr {
  border-top: 1px solid rgba(255,255,255,.9);
}


// >>>>>>>>>>> global end <<<<<<<<<<


// >>>>>>>>>>> header <<<<<<<<<<
.nav-bar ul {
  color: #114c7f;
  list-style-type: none;
}
.image-lukasz {
  background-image: url("./gfx/lukasz.png");
  height: 857px;
  background-repeat: no-repeat;
  background-color: #c0d3df;
  background-position: center;
}

.left-box {
  background-color: #114c7f;
  color: white;
  border-color: #f2da64;
  outline: 2px solid #fff;
  outline-offset: -20px;
}

.inside-text {
  padding: 30px 50px 30px 30px;

}

.row .left-box .title-box {
  max-width: 200px;
  margin: 0 auto;
}

.left-box .title-box .title {
  background-color: #BD3C8A;
  text-align: center;
  padding: 8px;
  margin-top: -30px;
}

.js {
  background-color: #f2da64;
  color: #2E2F32;
  font-size: 65px;
  height: 90px;
  width: 90px;
  margin: -45px;
}

.inside-text ul {
  list-style-type: none;
}

.right-box {
  background-color: #BD3C8A;
  height: 200px;
  outline: 2px solid #fff;
  outline-offset: -20px;
}

// >>>>>>>>>>> header end <<<<<<<<<<

// >>>>>>>>>>> nav <<<<<<<<<<
nav {
  height: 200px;
}


// >>>>>>>>>>> nav end <<<<<<<<<<