// >>>>>>>>>>> header <<<<<<<<<<
header {

}
.image-lukasz {
  background-image: url("./gfx/lukasz.png");
  height: 857px;
  background-repeat: no-repeat;
  background-color: #c0d3df;
  background-position: center;
}
// >>>>>>>>>>> header end <<<<<<<<<<

// >>>>>>>>>>> nav <<<<<<<<<<
nav {
  height: 200px;
}


// >>>>>>>>>>> nav end <<<<<<<<<<