@media only screen and (min-width: 992px) {
  .section-about-me.background-image {
    height: 857px !important;
    .background-image-media {
      position: absolute;
      img {
        width: auto;
        max-width: none;
      }
    }
    .navbar {
      display: flex;
    }
  }

  .section-about-me {
    .left-box {
      .title-box {
        .title {
          margin-top: -35px !important;
        }
      }
    }
    .right-box {
      margin-top: -80px !important;
      .right-box--main {
        border: 1px solid white;
        .react-logo {
          // margin-top: -195px;
          // margin-left: 170px;
        }
        .inside-text {
          padding: 55px 0 70px 70px !important;
        }
      }
    }
  }
}

// >>>>>>>>>>> global <<<<<<<<

.container {
  @media (min-width: 1300px) {
    max-width: 1200px;
  }
}

hr {
  border-top: 1px solid rgba(255, 255, 255, 0.9);
}

button {
  padding: 0;
  border: none;
  background: none;
}

$bg-color-blue: #114c7f;
$bg-color-light-blue: #c0d3df;
$bg-color-pink: #bd3c8a;
$bg-color-gray: #2e2f32;
// >>>>>>>>>>> global end <<<<<<<<<<

// >>>>>>>>>>> header <<<<<<<<<<
.section-about-me {
  .background-image-media{
    display: block;
    text-align: center;

    img {
      max-width: 400px;
      width: 100%;
    }
  }
  .nav-bar {
    display: none;
    z-index: 1100;
    ul {
      li {
        color: $bg-color-blue;
        font-size: 16px;
        font-weight: 700;
      }
      button {
        font-weight: 700;
        color: $bg-color-blue;
        -webkit-transition: color 0.5s ease-out;
        -moz-transition: color 0.5s ease-out;
        -o-transition: color 0.5s ease-out;
        transition: color 0.5s ease-out;
      }
      button:hover {
        color: $bg-color-pink;
      }
      button:focus {
        outline: 0;
      }
    }
  }
}

.section-about-me.background-image {
  // background-image: url("./gfx/lukasz.png");
  // height: 857px;
  background-repeat: no-repeat;
  background-color: $bg-color-light-blue;
  background-position: center;
}

.section-about-me {
  .left-box {
    background-color: $bg-color-blue;
    .inside-text {
      font-size: 21px;
      padding: 10px 10px 27px 10px;
      line-height: 27px;
      .inside-text--box {
        padding: 20px 50px 36px 35px;
        border: 1px solid white;
        h3 {
          font-size: 29px;
          font-weight: 700;
          margin: 0;
        }
        p {
          padding-bottom: 15px;
        }
        ul {
          font-weight: 300;
          font-family: "Roboto Slab", serif;
          list-style-type: none;
          line-height: 27px;
        }
      }
      .js-mini {
        background-image: url("./gfx/JavaScript-logo.png");
        background-size: contain;
        height: 50px;
        width: 50px;
      }
    }
    .title-box {
      max-width: 220px;
      margin: 0 auto;
      .title {
        background-color: $bg-color-pink;
        text-align: center;
        padding: 15px;
        // margin-top: -35px;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}

.js {
  background-image: url("./gfx/JavaScript-logo.png");
  background-size: contain;
  height: 110px;
  width: 110px;
  margin: 0 -76px -38px;
}

.section-about-me {
  .title-box {
    margin: 0 auto;
    max-width: 218px;
    font-size: 16px;
    h6 {
      font-size: 16px;
      font-weight: 700;
      background-color: $bg-color-blue;
      text-align: center;
      padding: 15px;
      margin-top: -37px;
    }
  }
  .right-box {
    background-color: $bg-color-pink;
    // height: 250px;
    // margin-top: -80px;
    padding: 15px 15px 15px 15px;
    .right-box--main {
      border: 1px solid white;
      .react-logo {
        margin-top: -195px;
        margin-left: 170px;
        .App-logo {
          animation: App-logo-spin infinite 20s linear;
          height: 450px;
        }
        .react-logo-mini {
          .App-logo-mini {
            animation: App-logo-spin infinite 20s linear;
            // height: 20px;
          }
        }
      }
      .inside-text {
        // padding: 55px 0 70px 70px;
        h3 {
          font-weight: 700;
          font-size: 29px;
        }
        p {
          font-size: 21px;
        }
      }
    }
  }
}
// >>>>>>>>>>> header end <<<<<<<<<<

// >>>>>>>>>>> nav <<<<<<<<<<
nav {
  height: 170px;
}

// >>>>>>>>>>> nav end <<<<<<<<<<

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// new animation react logo

.rotate-center {
  -webkit-animation: rotate-center 20s linear infinite both;
  animation: rotate-center 20s linear infinite both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
