// >>>>>>>>>>> global <<<<<<<<

.container {
  @media (min-width: 1300px) {
    max-width: 1200px;
  }
}

hr {
  border-top: 1px solid rgba(255, 255, 255, 0.9);
}

button {
  padding: 0;
  border: none;
  background: none;
}

$bg-color-blue: #114c7f;
$bg-color-light-blue: #c0d3df;
$bg-color-pink: #bd3c8a;
// >>>>>>>>>>> global end <<<<<<<<<<

// >>>>>>>>>>> header <<<<<<<<<<
.section-about-me {
  .nav-bar {
    ul {
      // position: fixed;
      li {
        color: $bg-color-blue;
        font-size: 16px;
        font-weight: 700;
      }
      button {
        font-weight: 700;
        color: #173f62;
        -webkit-transition: color 0.5s ease-out;
        -moz-transition: color 0.5s ease-out;
        -o-transition: color 0.5s ease-out;
        transition: color 0.5s ease-out;
      }
      button:hover {
        color: #bd3c8a;
      }
      button:focus {
        outline: 0;
      }
    }
  }
}

.section-about-me.background-image {
  background-image: url("./gfx/lukasz.png");
  height: 857px;
  background-repeat: no-repeat;
  background-color: $bg-color-light-blue;
  background-position: center;
}

.section-about-me {
  .left-box {
    background-color: #114c7f;
    color: white;
    .inside-text {
      font-size: 21px;
      padding: 10px 10px 27px 10px;
      line-height: 27px;
      .inside-text--box {
        padding: 20px 50px 36px 35px;
        border: 1px solid white;
        h3 {
          font-size: 29px;
          font-weight: 700;
          margin: 0;
        }
        p {
          padding-bottom: 15px;
        }
        ul {
          font-weight: 300;
          font-family: "Roboto Slab", serif;
          list-style-type: none;
          line-height: 27px;
        }
      }
    }
    .title-box {
      max-width: 220px;
      margin: 0 auto;
      .title {
        background-color: $bg-color-pink;
        text-align: center;
        padding: 15px;
        margin-top: -35px;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}

.js {
  background-color: #f2da64;
  color: #2e2f32;
  height: 110px;
  width: 110px;
  margin: 0px -76px -38px;
  p {
    font-family: "Roboto Slab", serif;
    font-size: 70px;
    font-weight: 700;
    margin: 20px;
  }
}

.section-about-me {
  .right-box {
    background-color: #bd3c8a;
    height: 250px;
    outline: 1px solid #fff;
    outline-offset: -14px;
    color: white;
    margin-top: -70px;
    .react-logo {
      margin-left: 180px;
      margin-top: -179px;
    }
    .title-box {
      margin: 0 auto;
      max-width: 218px;
      font-size: 16px;
      h6 {
        font-size: 16px;
        font-weight: 700;
        background-color: #114c7f;
        text-align: center;
        padding: 15px;
        margin-top: -17px;
      }
    }
    .inside-text {
      line-height: 6px;
      padding: 50px 0px 0px 70px;
      h3 {
        font-weight: 700;
        font-size: 29px;
      }
      p {
        font-size: 21px;
      }
    }
  }
}
// >>>>>>>>>>> header end <<<<<<<<<<

// >>>>>>>>>>> nav <<<<<<<<<<
nav {
  height: 170px;
}

// >>>>>>>>>>> nav end <<<<<<<<<<
